ul,li
{	
	margin:0;
	padding:0;
	list-style:none;
}
.clear
{
	clear:both;
	height:0;
}

.tz-datepicker
{
	width:750px;
	border:solid 1px #3a98d8;	
	font-family:"寰蒋闆呴粦";
	font-size:12px;
	position:relative;
	z-index:999;
	display:none;
	background: #fff;
	
	top: 0!important;
	left:0!important;
	width: 100%;
/*	padding: 0 200px;*/
	box-sizing: border-box;
	border: none;
	display: block!important;
}

.tz-datepicker .inner{
	width: 100%;
	padding: 20px 210px;
	box-sizing: border-box;
	background: #FFFFFF;
}

.adjust3{
width: 100%;
position: fixed;
background: #ffffff;
bottom: 0;

z-index: 999;


}
.datelist{

	display: none;
	
}
.datelist.active{
	display: block!important;
}
.tz-datepicker .year-month
{
	height:40px;
	text-align:center;
	cursor:pointer;
	margin-top:1px;
	background:#ff761a;
	padding-bottom:2% ;
	color: #ffffff;
}
.tz-datepicker .year-month span
{
	display:inline-block;
	height:40px;
	line-height:50px;
	font-size: 26px;
	
	
	/*float:left;*/
	
}
.month-list ul li{
	font-size: 16px;
}
.tz-datepicker .year-month span:hover
{
	color:#fff;
	background:#3a98d8;
}
.tz-datepicker .year-month span.active
{
	color:#fff;
	background: #3a98d8;
}

.datesel .span-arrow
{
	width:14px;
	height:14px;	
	display:block;
	position:absolute;
	right:10px;
	top:8px;
}
.datesel .span-col
{
	background:url(../../image/content/select-dropdown-arrow.png) no-repeat left top;
}
.datesel .span-ex
{
	background:url(../../image/content/select-dropdown-arrow.png) no-repeat left top -14px;
}


.year-month .left
{
	width:25px;
	margin-left:2px;
}
.year-month .month
{
	width:74px;
	margin-left:1px;
	position:relative;
}
.year-month .month span
{
	width:74px;
	position:relative;
}
.year-month .year
{
	width:74px;
	margin-right:1px;
	position:relative;	
}
.year-month .year span
{
	width:74px;
	text-align:center;
}
.year-month .right
{
	width:30px;	
}


/*.year-month .month span , .year-month .year span
{
	background:url(images/up-default.png) no-repeat center right 6px;
}

.year-month .month span:hover , .year-month .year span:hover
{
	background:url(images/up-active.png) #3a98d8 no-repeat center right 6px;
}

.year-month .month span.active , .year-month .year span.active
{
	background:url(images/up-active.png) #3a98d8 no-repeat center right 6px;
}*/



/* 鏄熸湡 */
.week
{
	height:25px;
	color:#9ea7b3;
}
.week ul
{
	padding:0;
	margin:0;
}
.week ul li
{
	width:30px;
	width: 14.28%;
	line-height:25px;
	float:left;
	text-align:center;
	box-sizing: border-box;
}



/* 澶� */
.day
{
	
	background: #ffffff;
}
.day ul
{
	overflow:hidden;
}
.day ul li
{
	height:30px;
	line-height:30px;
	width:30px;
	
	float:left;
	text-align:center;
	background:#fff;
	margin-top:1px;
	cursor:pointer;
}
.day ul li:hover
{
		color:#000;
	border: 1px #ff781d solid;
	border-radius: 50%;
	box-sizing: border-box;
}
.day ul li.active
{
	
	color:#000;
	border: 1px #ff781d solid;
	border-radius: 50%;
	box-sizing: border-box;
}


/* 鏈� */
.year-month .month .month-list
{
	width:72px;
	border:solid 1px #ccc;
	border-top:none;
	position:absolute;
	top:25px;
	left:0;
	background:#fefefe;
	display:none;
	color:#9ea7b3;
}
.month-list ul li
{
	width:34px;
	float:left;
	height:20px;
	cursor:pointer;
	text-align:center;
	line-height:20px;
	margin:1px;
}
.month-list ul li:hover
{
	background:#3a98d8;
	color:#fff;
}

.month-list ul li.active
{
	background:#3a98d8;
	color:#fff;
}



/* 閫夋嫨骞� */
.year-month .year .year-list
{
	width:72px;
	border:solid 1px #ccc;
	border-top:none;
	position:absolute;
	top:25px;
	left:0;
	background:#fefefe;
	display:none;
	color:#9ea7b3;
}
.year-list ul
{
	overflow:hidden;
}
.year-list ul li
{
	width:34px;
	float:left;
	height:20px;
	cursor:pointer;
	text-align:center;
	line-height:20px;
	margin:1px;
}
.year-list ul li:hover
{
	background:#3a98d8;
	color:#fff;
}

.year-list ul li.active
{
	background:#3a98d8;
	color:#fff;
	
}

.year-list .year-change
{
	margin-top:3px;
	margin-bottom:3px;
	overflow: hidden;
    height: 18px;
    width: 100%;
}
.year-change span
{
	width:30px !important;
	height:18px !important;
}
.year-change .year-left
{	
	margin-left:4px;
	margin-right:4px;
	background:url(images/left-default.png) #fff no-repeat center !important;
}
.year-change .year-left:hover
{	
	background:url(images/left-active.png) #3a98d8 no-repeat center !important;
}
.year-change .year-right
{	
	background:url(images/right-default.png) #fff no-repeat center !important;
}
.year-change .year-right:hover
{	
	background:url(images/right-active.png) #3a98d8 no-repeat center !important;
}

.tz-datepicker .action
{
	height:25px;
	border-top: solid 1px #f3f3f3;
}
.tz-datepicker .action span
{
	height:25px;
	line-height:25px;
	width:70px;
	color:#3a98d8;
	text-align:center;
	cursor:pointer;
	display:inline-block;	
}


